.instruction{
    margin-top: 130px;
    text-align: center;
   
}
.whole{
    background-image: url('https://www.shutterstock.com/image-vector/vector-realistic-isolated-neon-sign-260nw-1181047573.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}